body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

#grille {
    display: grid;
    margin: auto 0;
    margin-left: 30vw;
}

.sol {
    background-image: url('../img/sol.gif') ;
    background-size: contain;
}

.mur {
    background-image: url('../img/mur.gif') ;
    background-size: contain;
}

.bonbon {
    background-image: url('../img/bonbon.gif');
    background-size: contain;
}

